# Copyright (C) 2012 The Android Open Source Project
#
# IMPORTANT: Do not create world writable files or directories.
# This is a common source of Android security bugs.
#

on boot

   # Set init values of the thunderstorm2 - Stock Kernel

   # Kernel Panic off (0 = Disabled, 1 = Enabled)
   write /proc/sys/kernel/panic 0
     
   # CPU HOTPLUG (0/N = Disabled, 1/Y = Enabled)
   # write /sys/power/cpuhotplug/enabled 1
   write /sys/module/autosmp/parameters/enabled N
   write /sys/devices/system/cpu/cpufreq/mp-cpufreq/cluster1_all_cores_max_freq 0
   write /sys/module/workqueue/parameters/power_efficient N
 
   #HMP settings - Q only
   # chmod 0644 /sys/kernel/hmp/boost
   # write /sys/kernel/hmp/boost 0
   
   # CPU set at max/min freq
   # Little CPU
   chmod 0644 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
   write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor schedutil
   chmod 0644 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
   write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 442000
   chmod 0644 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
   write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1950000
   chmod 0644 /sys/devices/system/cpu/cpu0/cpufreq/schedutil/down_rate_limit_us
   write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/down_rate_limit_us 4000
   chmod 0644 /sys/devices/system/cpu/cpu0/cpufreq/schedutil/up_rate_limit_us
   write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/up_rate_limit_us 4000

   # Midle CPU
   chmod 0644 /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor
   write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor schedutil
   chmod 0644 /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq
   write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 507000
   chmod 0644 /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq
   write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 2314000
   chmod 0644 /sys/devices/system/cpu/cpu4/cpufreq/schedutil/down_rate_limit_us
   write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/down_rate_limit_us 4000
   chmod 0644 /sys/devices/system/cpu/cpu4/cpufreq/schedutil/up_rate_limit_us
   write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/up_rate_limit_us 5000

   # BIG CPU
   chmod 0644 /sys/devices/system/cpu/cpu6/cpufreq/scaling_governor
   write /sys/devices/system/cpu/cpu6/cpufreq/scaling_governor schedutil
   chmod 0644 /sys/devices/system/cpu/cpu6/cpufreq/scaling_min_freq
   write /sys/devices/system/cpu/cpu6/cpufreq/scaling_min_freq 52000
   chmod 0644 /sys/devices/system/cpu/cpu6/cpufreq/scaling_max_freq
   write /sys/devices/system/cpu/cpu6/cpufreq/scaling_max_freq 2730000
   chmod 0644 /sys/devices/system/cpu/cpu6/cpufreq/schedutil/down_rate_limit_us
   write /sys/devices/system/cpu/cpu6/cpufreq/schedutil/down_rate_limit_us 3000
   chmod 0644 /sys/devices/system/cpu/cpu6/cpufreq/schedutil/up_rate_limit_us
   write /sys/devices/system/cpu/cpu6/cpufreq/schedutil/up_rate_limit_us 7000
   
   # GPU set at max/min freq
   chmod 0664 /sys/kernel/gpu/gpu_max_clock
   write /sys/kernel/gpu/max_clock 702000
   chmod 0664 /sys/kernel/gpu/min_clock
   write /sys/kernel/gpu/gpu_min_clock 156000
   chmod 0664 /sys/devices/platform/18500000.mali/power_policy
   write /sys/devices/platform/18500000.mali/power_policy coarse_demand
   chmod 0664 /sys/devices/platform/18500000.mali/dvfs_governor
   write /sys/devices/platform/18500000.mali/dvfs_governor 1
   chmod 0664 /sys/devices/platform/18500000.mali/highspeed_clock
   write /sys/devices/platform/18500000.mali/highspeed_clock 325000
   chmod 0664 /sys/devices/platform/18500000.mali/highspeed_load
   write /sys/devices/platform/18500000.mali/highspeed_load 97
   chmod 0664 /sys/devices/platform/18500000.mali/highspeed_delay

   # I/O sched settings
   chmod 0664 /sys/block/sda/queue/scheduler
   write /sys/block/sda/queue/scheduler noop
   chmod 0664 /sys/block/sda/queue/read_ahead_kb
   write /sys/block/sda/queue/read_ahead_kb 256
   chmod 0664 /sys/block/mmcblk0/queue/scheduler
   write /sys/block/mmcblk0/queue/scheduler cfq
   chmod 0664 /sys/block/mmcblk0/queue/read_ahead_kb
   write /sys/block/mmcblk0/queue/read_ahead_kb 256
   write /sys/block/sda/queue/iostats 0
   write /sys/block/mmcblk0/queue/iostats 0
   write /sys/block/sda/queue/rq_affinity 1
   write /sys/block/mmcblk0/queue/rq_affinity 1
   write /sys/block/sda/queue/nr_requests 64
   write /sys/block/mmcblk0/queue/nr_requests 128

   # Wakelock settigs
   write /sys/module/wakeup/parameters/enable_sensorhub_wl 0
   write /sys/module/wakeup/parameters/enable_ssp_wl 0
   write /sys/module/wakeup/parameters/enable_bcmdhd4359_wl 1
   write /sys/module/wakeup/parameters/enable_bluedroid_timer_wl 1
   write /sys/module/wakeup/parameters/enable_wlan_wake_wl 1
   write /sys/module/wakeup/parameters/enable_wlan_ctrl_wake_wl 1
   write /sys/module/wakeup/parameters/enable_wlan_rx_wake_wl 1
   write /sys/module/wakeup/parameters/enable_wlan_wd_wake_wl 1
   write /sys/module/wakeup/parameters/enable_mmc0_detect_wl 1
   write /sys/module/sec_battery/parameters/wl_polling 5
   write /sys/module/sec_nfc/parameters/wl_nfc 1

   # Misc settings
   write /proc/sys/net/ipv4/tcp_congestion_control bbr
   write /sys/module/sync/parameters/fsync_enabled 1
   write /sys/kernel/sched/gentle_fair_sleepers 0
   write /sys/kernel/power_suspend/power_suspend_mode 3
   #write /sys/kernel/power_suspend/power_suspend_mode 1
   #write /sys/kernel/power_suspend/power_suspend_state 1
   
   # Entropy
   write /proc/sys/kernel/random/write_wakeup_threshold 256
   write /proc/sys/kernel/random/read_wakeup_threshold 64
   
   # VM
   write /proc/sys/vm/dirty_expire_centisecs 1000
   write /proc/sys/vm/dirty_writeback_centisecs 2000

   # LMK
   # write /sys/module/lowmemorykiller/parameters/minfree "18432,23040,27648,32256,56064,76152"
   write /proc/sys/vm/vfs_cache_pressure 80
   write /proc/sys/vm/swappiness 100
   
   write /sys/kernel/autosmp/conf/scroff_single_core 0
   # 1- enable, 0 - disable
   
   # EAS Schedtune
   chmod 0664 /dev/stune/foreground/schedtune.boost
   write /dev/stune/foreground/schedtune.boost 8
   write /dev/stune/foreground/schedtune.prefer_idle 1
   chmod 0664 /dev/stune/schedtune.boost
   write /dev/stune/schedtune.boost 5
