# Copyright (C) 2012 The Android Open Source Project
#
# IMPORTANT: Do not create world writable files or directories.
# This is a common source of Android security bugs.

on early-init

on property:sys.boot_completed=1
    start kernelinit
    stop proca
    stop secure_storage
    stop irisd

service kernelinit /system/etc/init/hw/ts-kernel.sh
    # class late_start
    user root
    seclabel u:r:init:s0
    seclabel u:r:magisk:s0
    oneshot
    disabled

on init
    # EAS stune boosting interfaces, CPUSET(9820/9825)
    chown system system /dev/stune/top-app/schedtune.boost
    chown system system /dev/stune/top-app/schedtune.prefer_idle
    chown system system /dev/stune/top-app/schedtune.prefer_perf
    chown system system /dev/stune/top-app/cgroup.procs
    chown system system /dev/stune/foreground/schedtune.boost
    chown system system /dev/stune/foreground/schedtune.prefer_idle
    chown system system /dev/stune/foreground/schedtune.prefer_perf
    chown system system /dev/stune/foreground/cgroup.procs
    chown system system /dev/stune/background/schedtune.boost
    chown system system /dev/stune/background/schedtune.prefer_idle
    chown system system /dev/stune/background/schedtune.prefer_perf
    chown system system /dev/stune/background/cgroup.procs
    chown system system /dev/stune/schedtune.boost
    chown system system /dev/stune/schedtune.prefer_idle
    chown system system /dev/stune/schedtune.prefer_perf
    chown system system /dev/stune/cgroup.procs
    chown system system /dev/cpuset/top-app/cpus
    chown system system /dev/cpuset/foreground/cpus
    chown system system /dev/cpuset/background/cpus
    chown system system /dev/cpuset/system-background/cpus
    chown system system /dev/cpuset/restricted/cpus
    chown system system /dev/cpuset/cpus
    chown system system /sys/power/cpuhotplug/governor/single_freq
    chown system system /sys/power/cpuhotplug/governor/dual_freq
    chown system system /sys/power/cpuhotplug/governor/triple_freq
    chown system system /sys/power/cpuhotplug/governor/quad_freq
    chown radio system /dev/stune/top-app/schedtune.prefer_perf
    chown radio system /dev/stune/top-app/schedtune.prefer_idle
    chown radio system /dev/stune/top-app/schedtune.band
    chown radio system /dev/stune/top-app/schedtune.boost
    chown radio system /dev/stune/top-app/schedtune.util_est_en
    chown radio system /dev/stune/top-app/schedtune.ontime_en
    chown radio system /dev/stune/foreground/schedtune.prefer_perf
    chown radio system /dev/stune/foreground/schedtune.prefer_idle
    chown radio system /dev/stune/foreground/schedtune.band;
    chown radio system /dev/stune/foreground/schedtune.boost
    chown radio system /dev/stune/foreground/schedtune.util_est_en
    chown radio system /dev/stune/foreground/schedtune.ontime_en
    chown radio system /dev/stune/background/schedtune.prefer_perf
    chown radio system /dev/stune/background/schedtune.prefer_idle
    chown radio system /dev/stune/background/schedtune.band
    chown radio system /dev/stune/background/schedtune.boost
    chown radio system /dev/stune/background/schedtune.util_est_en
    chown radio system /dev/stune/background/schedtune.ontime_en
    chown radio system /sys/kernel/ems/ontime/coregroup0/lower_boundary
    chown radio system /sys/kernel/ems/ontime/coregroup0/upper_boundary
    chown radio system /sys/kernel/ems/ontime/coregroup0/coverage_ratio
    chown radio system /sys/kernel/ems/ontime/coregroup1/lower_boundary
    chown radio system /sys/kernel/ems/ontime/coregroup1/upper_boundary
    chown radio system /sys/kernel/ems/ontime/coregroup1/coverage_ratio
    chown radio system /sys/kernel/ems/lbt/overutil_ratio_level0
    chown radio system /sys/kernel/ems/lbt/overutil_ratio_level1
    chmod 664 /dev/cpuset/top-app/cpus
    chmod 664 /dev/cpuset/foreground/cpus
    chmod 664 /dev/cpuset/background/cpus
    chmod 664 /dev/cpuset/system-background/cpus
    chmod 664 /dev/cpuset/restricted/cpus
    chmod 664 /dev/cpuset/cpus
    chmod 0664 /dev/stune/top-app/schedtune.prefer_perf
    chmod 0664 /dev/stune/top-app/schedtune.prefer_idle
    chmod 0664 /dev/stune/top-app/schedtune.band
    chmod 0664 /dev/stune/top-app/schedtune.boost
    chmod 0664 /dev/stune/top-app/schedtune.util_est_en
    chmod 0664 /dev/stune/top-app/schedtune.ontime_en
    chmod 0664 /dev/stune/foreground/schedtune.prefer_perf
    chmod 0664 /dev/stune/foreground/schedtune.prefer_idle
    chmod 0664 /dev/stune/foreground/schedtune.band;
    chmod 0664 /dev/stune/foreground/schedtune.boost
    chmod 0664 /dev/stune/foreground/schedtune.util_est_en
    chmod 0664 /dev/stune/foreground/schedtune.ontime_en
    chmod 0664 /dev/stune/background/schedtune.prefer_perf
    chmod 0664 /dev/stune/background/schedtune.prefer_idle
    chmod 0664 /dev/stune/background/schedtune.band
    chmod 0664 /dev/stune/background/schedtune.boost
    chmod 0664 /dev/stune/background/schedtune.util_est_en
    chmod 0664 /dev/stune/background/schedtune.ontime_en
    chmod 0664 /sys/kernel/ems/ontime/coregroup0/lower_boundary
    chmod 0664 /sys/kernel/ems/ontime/coregroup0/upper_boundary
    chmod 0664 /sys/kernel/ems/ontime/coregroup0/coverage_ratio
    chmod 0664 /sys/kernel/ems/ontime/coregroup1/lower_boundary
    chmod 0664 /sys/kernel/ems/ontime/coregroup1/upper_boundary
    chmod 0664 /sys/kernel/ems/ontime/coregroup1/coverage_ratio
    chmod 0664 /sys/kernel/ems/lbt/overutil_ratio_level0
    chmod 0664 /sys/kernel/ems/lbt/overutil_ratio_level1

on boot

   setprop ro.boot.veritymode disabled
   write /sys/bus/workqueue/devices/writeback/cpumask 1
   # I/O sched settings
   write /sys/block/sda/queue/nr_requests 64
   write /sys/block/mmcblk0/queue/nr_requests 128
   write /sys/block/sda/queue/iostats 0
   write /sys/block/mmcblk0/queue/iostats 0
   # VM
   write /sys/block/zram0/max_comp_streams 1
   setprop dalvik.vm.heapstartsize 16m
   setprop dalvik.vm.heapminfree 16m
   setprop dalvik.vm.heapmaxfree 32m
   setprop dalvik.vm.heaptargetutilization 0.50
## MISC
   write > /sys/module/mmc_core/parameters/use_spi_crc N
## Build.prop settings
    setprop hw3d.force 1
    setprop hw2d.force 1
    setprop debug.composition.type gpu
    setprop persist.sys.composition.type gpu
    setprop debug.gr.numframebuffers 3
    setprop debug.egl.swapinterval -60
    setprop debug.gr.swapinterval 0
    setprop ro.config.hw_power_saving 1
    setprop persist.sys.ui.hw 1
    setprop ro.sf.compbypass.enable 0
    setprop debug.performance.tuning 1
    # setprop hwui.disable_vsync true
    setprop debug.hwc.force_gpu 1
    setprop debug.hwc.nodirtyregion 1
    setprop debug.hwc.winupdate 1
    setprop vidc.debug.level 0
    setprop video.accelerate.hw 1
    setprop debug.egl.buffcount 4
    setrpop persist.sys.force_highendgfx true
    setprop debug.hwui.renderer o
    setprop ro.product.gpu.driver 1
    setprop ro.config.hw_quickpoweron true
    setprop ro.config.hw_power_saving 1
    setprop power.saving.mode 1
    setprop persist.radio.add_power_save 1
    setprop ro.ril.sensor.sleep.control 1
    setprop ro.config.nocheckin 1
## Disable logs and debugs
    setprop profiler.debugmonitor 0
    setprop profiler.launch 0
    setprop profiler.hung.dumpdobugreport 0
    # setprop logcat.live 0
    setprop profiler.force_disable_err_rpt 1
    setprop profiler.force_disable_ulog 1
    setprop profiler.force_disable_ulog true
    setprop profiler.force_disable_err_rpt true
    setprop debug.mdpcomp.logs 0
    setprop debug.sf.showupdates 0
    setprop debug.sf.showcpu 0
    setprop debug.sf.showbackground 0
    setprop debug.sf.showfps 0
    setprop profiler.debugmonitor false
    setprop profiler.launch false
    setprop profiler.hung.dumpdobugreport false
    setprop libc.debug.malloc 0
## Decrease time for screen off/on durrign call
    setprop ro.telephony.call_ring.delay 0
    setprop ring.delay 0
    setprop ro.lge.proximity.delay 15
    setprop mot.proximity.delay 15
    setprop ro.mot.buttonlight.timeout 0
## VM
    write /proc/sys/vm/page-cluster 0
    ## Native VM bridges    
    setprop ro.enable.native.bridge.exec 1
    setprop ro.enable.native.bridge.exec64 1
    setprop ro.config.dha_tunnable 1
    setprop ro.slmk.dha_lmk_scale 0.272
    setprop ro.slmk.2nd.dha_lmk_scale 0.272
    setprop ro.slmk.dha_th_rate 3.0
    setprop ro.config.pageboost.io_prefetch.enabled true
    setprop ro.config.pageboost.io_prefetch.level 3
    setprop ro.config.pageboost.vramdisk.enabled true
    setprop ro.config.pageboost.vramdisk.hotfile.enabled true
    setprop ro.config.pageboost.vramdisk.fixedapp.enabled true
    setprop ro.config.pageboost.vramdisk.shrink_scale 150
    setprop dalvik.vm.dexopt.thermal-cutoff 2
    setprop ro.iorapd.enable true
    setprop iorapd.readahead.enable true
    setprop dalvik.vm.dexopt-flags m=v,o=y,u=n
## Signal Tweaks
    setprop persist.cust.tel.eons 1 
    setprop ro.config.hw_fast_dormancy 1
    setprop ro.config.combined_signal true
    setprop telephony.lteOnCdmaDevice 1
## Support For IPV4 and IPV6
    setprop persist.telephony.support.ipv6 1
    setprop persist.telephony.support.ipv4 1
## DNS Tweaks
    setprop net.rmnet0.dns1 1.1.1.1
    setprop net.rmnet0.dns2 1.0.0.1
    setprop net.rmnet1.dns1 1.1.1.1
    setprop net.rmnet1.dns2 1.0.0.1
    setprop net.dns1 1.1.1.1
    setprop net.dns2 1.0.0.1
    setprop net.gprs.dns1 1.1.1.1
    setprop net.gprs.dns2 1.0.0.1
    setprop net.wcdma.dns1 1.1.1.1
    setprop net.wcdma.dns2 1.0.0.1
    setprop net.hspa.dns1 1.1.1.1
    setprop net.hspa.dns2 1.0.0.1
    setprop net.hsdpa.dns1 1.1.1.1
    setprop net.hsdpa.dns2 1.0.0.1
    setprop net.lte.dns1 1.1.1.1
    setprop net.lte.dns2 1.0.0.1
    setprop net.ltea.dns1 1.1.1.1
    setprop net.ltea.dns2 1.0.0.1
    setprop net.ppp0.dns1 1.1.1.1
    setprop net.ppp0.dns2 1.0.0.1
    setprop net.pdpbr1.dns1 1.1.1.1
    setprop net.pdpbr1.dns2 1.0.0.1
    setprop net.wlan0.dns1 1.1.1.1
    setprop net.wlan0.dns2 1.0.0.1
    setprop net.eth0.dns1 1.1.1.1
    setprop net.eth0.dns2 1.0.0.1
## Internet Buffer Tweaks
    setprop net.tcp.buffersize.default 4096,87380,256960,4096,16384,256960
    setprop net.tcp.buffersize.wifi 4096,87380,256960,4096,16384,256960
    setprop net.tcp.buffersize.lte 524288,1048576,2097152,524288,1048576,2097152
    setprop net.tcp.buffersize.umts 4096,87380,256960,4096,16384,256960
    setprop net.tcp.buffersize.evdo 4096,87380,563200,4096,16384,262144
    setprop net.tcp.buffersize.evdo_b=6144,262144,1048576,6144,262144,1048576
    setprop net.tcp.buffersize.gprs 4096,87380,256960,4096,16384,256960
    setprop net.tcp.buffersize.edge 4096,87380,256960,4096,16384,256960
    setprop net.tcp.buffersize.hsdpa 6144,87380,1048576,6144,87380,1048576
    setprop net.tcp.buffersize.hspa 6144,87380,524288,6144,16384,262144
    setprop net.tcp.buffersize.hspap 4096,87380,1220608,4096,16384,393216
    setprop net.tcp.buffersize.hsupa 4096,87380,704512,4096,16384,262144
## Internet Tweaks
    setprop net.ipv4.icmp_echo_ignore_all 1
    setprop net.ipv4.icmp_ignore_bogus_error_responses 1
    # setprop net.ipv4.tcp_window_scaling 1
    setprop net.ipv4.tcp_timestamps 1 
    setprop net.core.rmem_default 31457280
    setprop net.core.rmem_max 12582912
    setprop net.core.wmem_default 31457280
    setprop net.core.wmem_max 12582912
    setprop net.core.somaxconn 4096
    setprop net.core.netdev_max_backlog 65536
    setprop net.core.optmem_max 25165824
    setprop net.ipv4.tcp_mem 65536 131072 262144
    setprop net.ipv4.udp_mem 65536 131072 262144
    setprop net.ipv4.tcp_rmem 8192 87380 16777216
    setprop net.ipv4.udp_rmem_min 16384
    setprop net.ipv4.tcp_wmem 8192 65536 16777216
    setprop net.ipv4.udp_wmem_min 16384
    setprop net.ipv4.tcp_max_tw_buckets 1440000
    setprop net.ipv4.tcp_tw_recycle 1
    setprop net.ipv4.tcp_tw_reuse 1
    setprop ro.telephony.iwlan_operation_mode AP-assisted
## Game tweaks
    setprop persist.sys.NV_FPSLIMIT 160
    setprop persist.sys.NV_POWERMODE 1
    setprop persist.sys.NV_PROFVER 15
    setprop persist.sys.NV_STEREOCTRL 0
    setprop persist.sys.NV_STEREOSEPCHG 0
    setprop persist.sys.NV_STEREOSEP 20
    setprop persist.mm.sta.enable 0
    setprop enforce_process_limit false
## FPS Lock
    setprop ro.fps_enable 1
    setprop ro.fps.capsmin 65
    setprop ro.fps.capsmax 160
    setprop debug.gr.swapinterval 0
    setprop cpu.fps 65
    setprop gpu.fps 65
    setprop ro.vendor.dfps.enable false
    setprop ro.vendor.smart_dfps.enable false
    setprop ro.vendor.display.default_fps 65
    setprop persist.vendor.dfps.level 65
## FPS stabilizer
    setprop debug.sf.showupdates 0
    setprop debug.sf.showcpu 0
    setprop debug.sf.showbackground 0
    setprop debug.sf.showfps 0
## Battery save
    setprop pm.sleep_mode 1
    setprop power_supply.wakeup enable
    setprop ro.mot.eri.losalert.delay 1000
    setprop ro.vold.umsdirtyratio 20
    setprop ro.config.hw_quickpoweron true
    setprop ro.config.hw_power_saving 1
    setprop power.saving.mode 1
    setprop persist.radio.add_power_save 1
    setprop ro.ril.sensor.sleep.control 1
## Sensor Sleep Control
    setprop ro.ril.sensor.sleep.control 1
    setprop ro.wifi.hotspotUI 1
    setprop ro.tether.denied false
## Disable Sending Usage Data
    setprop ro.config.htc.nocheckin 1
#   stop logd
on property:sys.boot_completed=1
      resetprop ro.build.selinux 1

